---
title: CSS Components
---

{{! Sections
============================================== }}
<div class="page-header">
  <div class="container">
    <h1>CSS Sections</h1> {{github 'css-section' 'small'}}
  </div>
</div>

{{> css-section sections.white }}
{{> css-section sections.blue }}
{{> css-section sections.aqua }}
{{> css-section sections.slate }}
{{> css-section sections.violet }}
{{> css-section sections.gray }}


{{! Buttons
============================================== }}
<div class="page-header">
  <div class="container">
    <h1>CSS Buttons</h1> {{github 'css-button' 'small'}}
  </div>
</div>

<h2>Buttons</h2>

{{> css-button button.info }}
{{> css-button button.primary }}
{{> css-button button.jade }}
{{> css-button button.success }}
{{> css-button button.warning }}
{{> css-button button.danger }}
{{> css-button button.inverse }}

<h2>Small Buttons</h2>

{{> css-button button.info-small }}
{{> css-button button.primary-small }}
{{> css-button button.jade-small }}
{{> css-button button.success-small }}
{{> css-button button.warning-small }}
{{> css-button button.danger-small }}
{{> css-button button.inverse-small }}

<h2>Large Buttons</h2>

{{> css-button button.info-large }}
{{> css-button button.primary-large }}
{{> css-button button.jade-large }}
{{> css-button button.success-large }}
{{> css-button button.warning-large }}
{{> css-button button.danger-large }}
{{> css-button button.inverse-large }}

<h2>Jumbo Buttons</h2>

{{> css-button button.info-jumbo }}
{{> css-button button.primary-jumbo }}
{{> css-button button.jade-jumbo }}
{{> css-button button.success-jumbo }}
{{> css-button button.warning-jumbo }}
{{> css-button button.danger-jumbo }}
{{> css-button button.inverse-jumbo }}

